body {
  color: white;
}

/* Header */

/* navbar */

.navbar {
  border: none;
  background-color: #2c3e50;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #19BC9B
}

/* Jumbotron */
.jumbotron {
  background: #19bc9b;
  height: 600px;
}
.jumbotron img {
  width: 33%;
  height: auto;
}
.jumbotron i {
  font-size: 30px;
}
.jumbotron h3 {
  font-size: 25px;
  margin-top: 30px;
}
/* portfolio */
#portfolio img {
  border-radius: 30px;
  margin-bottom: 20px;
}
#portfolio h2 {
  color: black;
  font-size: 50px;
}
#portfolio i {
  color: black;
  font-size: 30px;
  margin-bottom: 25px;
}
/* Gestione overlay */

/* Sezione about */
#about {
  background: #19bc9b;
  height: 500px;
}
#about h2 {
  font-size: 50px;
}
#about p {
  font-size: 20px;
}
#about .fa-star {
  font-size: 30px;
  margin: 30px 0;
}
#about .btn-default {
  margin-top: 30px;
  border: 2px solid white;
  background: #19bc9b;
  color: white;
}
#about .btn-default:hover {
  background: white;
  color: black;
}
/* Contact me */
#contatti {
  color: black;
  padding: 30px;
}

#contatti input,
#contatti textarea{
  padding: 10px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  border-radius: 0;
}
#contatti .btn-green{
  color: #fff;
  background-color: #1abc9c;
}
#contatti i {
  color: black;
  font-size: 30px;
  margin-bottom: 25px;
}
/* sezione footer */
footer {
  background: #2c3e50;
  height: 240px;
}
footer i {
  font-size: 20px;
  padding: 10px;
  width: 60px;
}



/* Gestione Linee accantao icona stella */
.white-star:before ,
.white-star:after {
  content: '';
  display: inline-block;
  width: 20%;
  height: 4px;
  vertical-align: middle;
  background: white;
}

.b-star:before, .b-star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  vertical-align: middle;
  background-color: black;
}
