body {
  color: white;
}

/* Header */

/* navbar */

.navbar {
  border: none;
  background-color: #2c3e50;
  height: auto;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #19BC9B
}

/* Jumbotron */
.jumbotron {
  background: #19bc9b;
  height: 600px;
}
.jumbotron img {
  width: 33%;
  height: auto;
}
.jumbotron i {
  font-size: 30px;
}
.jumbotron h3 {
  font-size: 25px;
  margin-top: 30px;
}
/* portfolio */
#portfolio img {
  /* border-radius: 30px; */
  /* margin-bottom: 20px; */
}
#portfolio h2 {
  color: black;
  font-size: 50px;
}
#portfolio i {
  color: black;
  font-size: 30px;
  margin-bottom: 25px;
}
/* Gestione overlay */
#portfolio .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.7);
}
#portfolio .overlay:hover {
  opacity: 1;
}
#portfolio .overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  color: black;
  font-size: 100px;
}
#portfolio .img-container {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* Sezione about */
#about {
  background: #19bc9b;
  height: 500px;
}
#about h2 {
  font-size: 50px;
}
#about p {
  font-size: 20px;
}
#about .fa-star {
  font-size: 30px;
  margin: 30px 0;
}
#about .btn-default {
  margin-top: 30px;
  border: 2px solid white;
  background: #19bc9b;
  color: white;
}
#about .btn-default:hover {
  background: white;
  color: black;
}
/* Contact me */
#contatti {
  color: black;
  padding: 30px;
}

#contatti input,
#contatti textarea{
  padding: 10px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  border-radius: 0;
}
#contatti .btn-green{
  color: #fff;
  background-color: #1abc9c;
}
#contatti i {
  color: black;
  font-size: 30px;
  margin-bottom: 25px;
}


/* sezione footer */
.main-footer {
  background: #3A546D;
  padding-top: 70px;
  padding-bottom: 70px;

}
.main-footer i {
  font-size: 20px;
  padding: 10px;
  width: 60px;
}
.second-footer {
  background: #2C3E50;
  padding-top: 30px;
  padding-bottom: 30px;

}
.second-footer p {
  padding-top: 30px;
  font-size: 25px;
}


/* Gestione Linee accanto icona stella */
.white-star:before ,
.white-star:after {
  content: '';
  display: inline-block;
  width: 20%;
  height: 4px;
  vertical-align: middle;
  background: white;
}

.b-star:before, .b-star:after {
  content: '';
  display: inline-block;
  width: 15%;
  height: 4px;
  vertical-align: middle;
  background-color: black;
}
